<p>This server is run by Andy Balaam.  Email me on mail at artificialworlds
dot net or DM me on Mastodon:
<a href="https://mastodon.social/web/accounts/7995">@andybalaam@mastodon.social</a>.
</p>

<p>Security problems should be reported to the above email address.</p>

<p>To report bugs, or suggest features use the <a
href="https://gitlab.com/listsync/listsync-client-rust/-/issues">issue
tracker</a></p>
